html,
body {
    height: 100%;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

@function vw($px) {
    @return ($px / 750) * 100vw;
}

.cart-item {
    position: relative;
    background: #fff;

    .item-hd {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 vw(20);
        height: vw(80);
        position: relative;

        .btn-check {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            i{
                font-style: normal;
            }

            .i-check{
                display: block;
                width: vw(40);
                height: vw(40);
                background: url('../../assets/×_03.jpg') no-repeat;
                background-size: vw(38) vw(38);
            }

            .i-checked{
                display: block;
                width: vw(40);
                height: vw(40);
                background: url('../../assets/√_03.jpg') no-repeat;
                background-size: vw(38) vw(38);
            }
        }

        .item-hdimg {
            margin-left: vw(22);
            width: vw(48);
            height: vw(48);

            img{
                display: block;
                width: vw(48);
                height: vw(48);
            }
        }

        .item-hdname {
            margin-left: vw(10);
            margin-right: vw(10);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            font-size: vw(26);
            color: #383838;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}