html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  background: #fff;
}

.box header {
  height: 8.53333vw;
  width: 100%;
  background: #fff8e4;
}

.box header .ico-mall {
  width: 12.8vw;
  height: 8.53333vw;
  float: left;
}

.box header .ico-mall img {
  width: 8.4vw;
  height: 4.93333vw;
  margin-top: 1.86667vw;
  margin-left: 2.8vw;
}

.box header .noticebox {
  width: 78.26667vw;
  height: 8.53333vw;
  float: left;
}

.box header .noticebox .my-carousel .v-item {
  height: 8.53333vw;
  line-height: 8.53333vw;
  font-size: 3.2vw;
}

.box header .ico-arrow {
  width: 8.93333vw;
  height: 8.53333vw;
  float: left;
}

.box header .ico-arrow img {
  width: 2.93333vw;
  height: 2.93333vw;
  margin-top: 2.8vw;
  margin-left: 1.86667vw;
}

.box .slideshow {
  width: 100%;
  height: 44vw;
}

.box .slideshow .am-wingblank-lg {
  margin: 0;
}

.box .slideshow .am-wingblank-lg .my-carousel .v-item {
  width: 100vw;
  height: 44vw;
}

.box .slideshow .am-wingblank-lg .my-carousel .v-item img {
  width: 100%;
  height: 100%;
}

.box .index-tab {
  width: 100vw;
  height: 24vw;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box .index-tab li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3.2vw;
  line-height: 3.2vw;
}

.box .index-tab li img {
  width: 12vw;
  height: 12vw;
  margin-bottom: 2.26667vw;
}

.box .listbox {
  padding: 0vw 2.66667vw;
  background: #fff;
}

.box .listbox .list-tit {
  margin-top: 4.66667vw;
  height: 4.66667vw;
  line-height: 4.66667vw;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.box .listbox .list-tit h3 {
  color: #333;
  font-size: 4.8vw;
  font-weight: 400;
  position: relative;
}

.box .listbox .list-tit h3:before {
  position: absolute;
  top: 1.73333vw;
  left: -3.06667vw;
  width: 1.73333vw;
  height: 0.66667vw;
  background: #000;
  content: "";
}

.box .listbox .list-tit h3:after {
  position: absolute;
  top: 2.13333vw;
  right: -3.06667vw;
  width: 1.73333vw;
  height: 0.66667vw;
  background: #000;
  content: "";
}

.box .listbox .goods-list {
  margin-top: 4vw;
  margin-left: -1.33333vw;
  font-size: 0;
}

.box .listbox .goods-list li {
  margin-bottom: 2.66667vw;
  padding-left: 1.33333vw;
  width: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-radius: 1.33333vw;
}

.box .listbox .goods-list li .list-link {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.box .listbox .goods-list li .list-link .list-img {
  position: relative;
  z-index: 1;
  background: #eee;
  padding-top: 96.66666666666667%;
}

.box .listbox .goods-list li .list-link .list-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.box .listbox .goods-list li .list-link .list-bd {
  padding: 2.66667vw 2.4vw;
  height: 14.66667vw;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: #fff;
}

.box .listbox .goods-list li .list-link .list-bd .name {
  height: 10.66667vw;
}

.box .listbox .goods-list li .list-link .list-bd .name span {
  font-size: 3.73333vw;
  line-height: 4.53333vw;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box .listbox .goods-list li .list-link .list-bd .price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 4.26667vw;
}

.box .listbox .goods-list li .list-link .list-bd .price .new-pri {
  font-size: 4vw;
  color: #f7545f;
}

.box .listbox .goods-list li:before {
  position: absolute;
  right: 0;
  top: 0;
  left: 1.33333vw;
  height: 1px;
  content: " ";
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  border-top: 1px solid #eee;
  z-index: 3;
}

.box .ach-more {
  height: 11.73333vw;
  background: #fff;
}

.box .ach-more .bt {
  width: 24vw;
  height: 6.4vw;
  margin-top: 2.66667vw;
  margin-left: 37.86667vw;
  line-height: 6.4vw;
  font-size: 2.93333vw;
}

.box .ach-more .bt img {
  width: 2.66667vw;
  height: 2.66667vw;
  margin-left: 1.33333vw;
}
