@charset "UTF-8";
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background: #fff;
  width: 100%;
  height: vh(180);
  border-bottom: 0.033vw solid #ccc;
}

.header img {
  width: 16vw;
  height: vh(120);
  border-radius: 50%;
  padding: 4vw;
}

.header p {
  float: right;
  font-size: 3.73333vw;
  padding-top: 9.6vw;
  padding-right: 68.26667vw;
  color: #333;
}

.order-all {
  background: #fff;
  height: 10.66667vw;
  margin-top: 2.66667vw;
  border-bottom: 0.133vw solid #ccc;
  border-top: 0.133vw solid #ccc;
  padding-left: 4vw;
  padding-right: 8vw;
  line-height: 10.66667vw;
}

.order-all p:first-child {
  float: left;
  color: #333;
  font-size: 30vw；;
}

.order-all p:last-child {
  float: right;
  color: #999;
  font-size: 24vw；;
}

.am-list-body .am-list-item .am-list-thumb .iconfont {
  font-size: 20px;
}

.am-list-body .am-list-item .am-list-line .am-list-content {
  color: #333;
  font-size: 15px;
}
