.search{
    margin-bottom: 10px;
    .btn button{
        margin-right: 8px;
    }
}
.mod{
    //text-align: center;
    .adminInput{
        .zh{
            width: 200px;
        }
        .pwd{
            width: 200px;
        }
        .xm{
            width: 200px;
        }
        .nl{
            width: 100px;
        }
        .dh{
            width: 200px;
        }
        .xz{
            width: 100px;
        }
        .dz{
            width: 200px;
        }
    }
}
