.header_t{
    color: #fff;
}
.header{
    height: 80px;
    position: relative;
    .logo{
        width: 320px;
        height: 60px;

    }
    .userInfo{
        text-align: right;
        margin-top: 5px;
    }

}